<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
 rel="stylesheet"
 integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 <script type="text/javascript" th:src="@{/scripts/main.js}"></script>
<title>Home</title>
</head>
<body>
	<div class="container-fluid bg-primary p-3">
		  <ul class="nav">
				<li class="nav-item">
			      	<a class="nav-link text-white"  href="#">Home</a>
			    </li>
			    <li class="nav-item">
			      	<a class="nav-link text-white" href="/cadastrarCliente">Cadastrar cliente</a>
			    </li>
			    <li class="nav-item">
			      	<a class="nav-link text-white" href="/produtos">Fazer pedido</a>
			    </li>
			    <li class="nav-item">
			      	<a class="nav-link text-white" href="/pedidos">Ver pedidos</a>
			    </li>
			    <li class="nav-item">
			     	<a class="nav-link text-white" href="/clientes">Ver clientes</a>
			    </li>
		  </ul>
	</div>
</body>
</html>
